<%- include('partials/header'); %>

     <h1>Home</h1>
     <p>
          <%= startingContent %>
     </p>
     <% for( let i=0; i < newPosts.length; i++ ) { %>
          <article class="blog-post">
               <h2 id="homePostTitle" name="blogPostTitle">
                    <%= newPosts[i].title %>
               </h2>
               <p name=" blogPostBody">
                    <%= newPosts[i].content.substring(0,100) + " ..." %>
                         <a href="/posts/<%= newPosts[i]._id %>">
                              Read more
                         </a>
               </p>

          </article>
          <% } %>
               <%- include('partials/footer'); %>